@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --notStarted: #ff7479;
  --inProgress: #32b4ff;
  --done: #ffbd59;
  --defaultText: #002033;
  --subText: #667085;
  --fade: #dee4e8;
  --border: #ccd9e0;
  --accent: #33617d;
}

body {
  @apply font-sans text-defaultText bg-background;
}
